@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Roboto:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(164, 181, 252);
  background: linear-gradient(90deg, rgb(164, 181, 252) 0%, rgb(151, 200, 245) 50%, rgb(138, 238, 255) 95%);
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 90vh;
}
body h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 2px;
  color: rgb(1, 107, 188);
  background-color: black;
  padding: 20px;
  color: rgb(1, 107, 188);
  text-shadow: 1px 1px 2px azure, 0 0 25px blue, 0 0 5px darkblue;
}
body h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 2px;
  color: black;
  background: linear-gradient(90deg, rgb(9, 89, 153) 0%, rgb(17, 138, 158) 40%, rgb(0, 255, 239) 100%);
  padding: 20px;
}
body nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  text-align: center;
}

footer {
  background-color: rgb(1, 107, 188);
  background: linear-gradient(90deg, rgb(9, 89, 153) 0%, rgb(17, 138, 158) 40%, rgb(0, 255, 239) 100%);
  height: 230px;
  padding: 3em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer .sharefooter, footer .ventas {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}
footer .foot {
  font-style: normal;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 104%;
  padding: 2em;
  margin: 1em;
}
footer .redes {
  height: 100%;
  width: 2em;
  margin-left: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .logo_redes {
  height: 50px;
  width: 50px;
}

.contenedor__carrito {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 20px;
}
.contenedor__carrito .box_carrito {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img__carrito {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  padding: 10px;
  border: 3px none;
  border-radius: 30px;
}

.txt__carrito {
  font-size: 18px;
  font-family: "roboto";
  font-style: italic;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 24%;
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  padding: 20px;
  gap: 30px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(1, 107, 188);
  background: linear-gradient(90deg, rgb(9, 89, 153) 0%, rgb(17, 138, 158) 40%, rgb(0, 255, 239) 100%);
  padding: 5px;
  padding-left: 15px;
}

.container-fluid {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  padding-left: 20px;
}

.img_index {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-bottom: 20px;
  padding: 20px;
  gap: 40px;
}

.imagenes__index {
  border: 15px azure;
  border-radius: 20px;
  height: 30%;
  width: 90%;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 2px;
  color: black;
  padding: 1em;
  margin-top: 1em;
  background-color: rgb(1, 107, 188);
  background: linear-gradient(90deg, rgb(9, 89, 153) 0%, rgb(17, 138, 158) 40%, rgb(0, 255, 239) 100%);
}

iframe {
  width: 70%;
  height: 25em;
  margin: 20px;
  margin-top: 5vh;
  border: 5px none;
  border-radius: 25px;
}

.img__prod {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  padding: 20px;
}

.title_prod {
  font-family: "Roboto";
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 2px;
  color: black;
  padding: 20px;
}

.txt__prod, .txt__prod2 {
  font-size: 20px;
}

.d-flex {
  width: 80%;
  margin-left: 10%;
}

.container_fluid_formulario {
  width: 90%;
  height: 10%;
  margin: 3%;
  margin-top: 15px;
  padding: 2%;
  background: rgb(79, 111, 238);
  background: linear-gradient(90deg, rgb(79, 111, 238) 0%, rgb(100, 175, 242) 50%, rgb(69, 226, 252) 100%);
  border: 1px none;
  border-radius: 15px;
}

.title_form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(79, 111, 238);
  background: linear-gradient(90deg, rgb(79, 111, 238) 0%, rgb(100, 175, 242) 50%, rgb(69, 226, 252) 100%);
  border: 1px none;
  border-radius: 15px;
  width: 90%;
  height: 10%;
  padding: 2%;
  margin: 3%;
}

.primer-parrafo {
  text-shadow: 0 0 3px rgb(79, 111, 238), 0 0 5px rgb(69, 226, 252);
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}

.ai_box, .bi_box, .ci_box {
  width: 90%;
}

.ai, .bi, .ci {
  width: 140px;
  height: 140px;
  padding: 10px;
}

.a, .b, .c {
  background-color: rgb(1, 107, 188);
  background: linear-gradient(90deg, rgb(9, 89, 153) 0%, rgb(17, 138, 158) 40%, rgb(0, 255, 239) 100%);
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 15px;
}

.a, .b, .c, .ai, .bi, .ci {
  gap: 10px;
  border: 18px;
  border-radius: 18px;
}

.grid-nosotros {
  grid-area: grid-nosotros;
}

.ai {
  grid-area: ai;
}

.bi {
  grid-area: bi;
}

.ci {
  grid-area: ci;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.grid-nosotros {
  background: rgb(79, 111, 238);
  background: linear-gradient(90deg, rgb(79, 111, 238) 0%, rgb(100, 175, 242) 50%, rgb(69, 226, 252) 100%);
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: grid;
  justify-items: center;
}

@media (min-width: 480px) {
  header {
    font-size: 20px;
  }
  .container-fluid {
    padding-right: 5%;
  }
  .img_index {
    margin-top: 30px;
    gap: 40px;
  }
  .imagenes__index {
    width: 260px;
    height: 220px;
  }
  .imagenes__index:hover {
    transform: scale(1.15);
    transition-property: all;
    transition-duration: 2s;
  }
  .iframe {
    width: 70%;
  }
  .sharefooter, .ventas {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
  }
  .contenedor__prod {
    gap: 30px;
    margin-top: 25px;
  }
  .box__prod {
    margin-top: 20px;
  }
  .img__prod {
    border: 20px none;
    border-radius: 30px;
    padding: 5px;
    width: 70%;
    height: 70%;
  }
  .primer-parrafo {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
  }
  .box__carrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .img__carrito {
    width: 30%;
    margin-left: 10px;
  }
  .txt__carrito {
    width: 40%;
    height: 120px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
  .a, .b, .c {
    height: 15em;
  }
  .ai, .bi, .ci {
    width: 150px;
    height: 150px;
  }
  .grid-nosotros {
    display: grid;
    grid-template-areas: "ai a a" "b b bi" "ci c c";
  }
}
@media (min-width: 768px) {
  .img_index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .imagenes__index {
    width: 215px;
    height: 195px;
  }
  .imagenes__index:hover {
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 3s;
  }
  .box__prod {
    gap: 20px;
    margin-top: 25px;
  }
  .img__prod {
    width: 70%;
    height: 90%;
  }
  .title_form {
    font-family: "Roboto";
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .consulta {
    margin-bottom: 32%;
  }
  .box__carrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .img__carrito {
    width: 30%;
    margin-left: 10px;
  }
  .txt__carrito {
    width: 40%;
    height: 120px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
  .title_prod {
    font-size: 30px;
  }
  .ai, .bi, .ci {
    width: 180px;
    height: 180px;
  }
  .a, .b, .c {
    height: 13em;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .imagenes__index {
    width: 255px;
    height: 255px;
  }
  .imagenes__index:hover {
    transform: rotate(30deg);
    transition-property: all;
    transition-duration: 3s;
  }
  .contenedor__prod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 35px;
  }
  .txt__prod, .txt__prod2 {
    margin-left: 0.5em;
    font-size: 25px;
  }
  .title_form {
    font-family: "Roboto";
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .consulta {
    margin-bottom: 32%;
  }
  .box__carrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .img__carrito {
    width: 30%;
    margin-left: 10px;
  }
  .txt__carrito {
    width: 40%;
    height: 120px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
  .title_prod {
    font-size: 35px;
  }
  .a, .b, .c {
    height: 10em;
  }
}